.navbar {
  left: 0;
  top: 0;
  height: fit-content;
  width: 100%;
  background-color: $gray-lighter;
  border-bottom: solid 1px $brand-primary;
}

.navbar__container {
  @include make-container;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: unset;

  @include media(md) {
    width: 50%;
  }

  @include media(lg) { 
    width: initial;
    margin-right: auto;
    margin-left: auto;
    text-align: initial;
    flex-direction: row;
    align-items: center;
  }
}

.navbar__search-content {
  padding-top: 16px;
  width: 100%;

  @include media(lg) {
    padding-top: 0;
    width: 22%;
  }
  @include media(xl) {
    padding-top: 0;
    width: 23%;
  }
}

.navbar__input-group {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}

.navbar__search-input {
  border: solid 1px $brand-primary;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -khtml-border-radius: 0;
  width: 100%;
  height: 2rem;
  padding: 8px;
}

.navbar__heading {
  margin: 0.5em 0;

  @include media(lg) {
    margin: 0 0 0 25px;
  }
}

.navbar__buttons {
  padding: 0;

  @include media(lg){
    padding-left: 20px;
  }
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  background: #fff;
  color: #000;
  box-shadow: 0 0 8px rgb(32 32 32 / 50%);
  font-size: .875rem;
  width: 50vw;
  padding: 0.5rem;
  position: absolute;
  right: -3px;
  top: 15px;
  visibility: hidden;
  text-align: left;
  border-radius: 0;
  z-index: 15;

  @include media(sm) {
    width: 50vw;
    right:0;
    left: 22px;
    top: -5px;
  }

  @include media(md) {
    width: 30vw;
  }

  @include media(lg) {
    width: 20vw;
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext__list {
  margin: 0;
  padding: 0;
  padding-left: 22px;

  & li {
    margin:0;
  }
}

.navbar__button {
  font-size: 1.125em;
  background-color: unset;
  border: none;
  padding: 5px;
  cursor: pointer;
  color: $navy-dark;
  transition: color 0.2s;

  &.search {
    background-color: $navy-dark;
    padding: 8px;
    transition: background-color 0.2s;
    font-size: 0;

    &:hover {
      background-color: $navy;
    }
  }

  &:hover{
    color: $navy;
  }
}
