* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: 16px;
  line-height: 1.7;
  background-color: $body-bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $link-color;
  text-decoration: underline;

  &:hover {
    color: $link-color-hover;
    text-decoration: none;
  }
}

td a {
  font-size: large;
}

p {
  font-family: $font-family-sans-serif;
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul,
ol {
  font-family: $font-family-sans-serif;
}

td ul {
  list-style: none;
}

ol {
  list-style: decimal;
}

svg {
  fill: currentColor;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: $navy-dark;
  font-family: "Domine", georgia, serif;
}

h1 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 3rem;

  @include media(md) {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
  @include media(lg) {
    font-size: 4rem;
    margin-bottom: 6rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 1.4;
  
  margin-top: 3rem;
  margin-bottom: 1.5rem;

  @include media(md) {
    margin-top: 3rem;
  }

  @include media(lg) {
    font-size: 1.75rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}

h3 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h4, h5, h6 {
  line-height: 1.4;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

table {
  margin-bottom: 1em;
}

td {
  font-size: 0.929em;
  color: #404040;
  font-weight: normal;
  padding: 8px;
  background: #ffffff;
  border-top: 1px solid transparent;
}

td:hover {
  background: #efeee9;
  color: #404040;
}
